.pageContainer {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pageTabbarContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
