.usersList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.usersListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userListElement {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
