<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/api/static/css/style.css" />
    <title>Template</title>
  </head>
  <body>
    <h1>{{ .Title }}</h1>
    <hr />
    <div class="container">
      <ul>
        {{ range .Users }}
        <li>ID: {{ .Id }} Email: {{.Email}}</li>
        {{ end }}
      </ul>
      <hr />
      <p class="template-time">Current time: {{ .TimeStamp }}</p>
    </div>
  </body>
</html>
