.addUserForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addUserButton {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}
input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 250px;
}

.addUserButton:hover {
  background-color: darkgreen;
}

.addUserButton:active {
  background-color: green;
  transform: translateY(2px);
}
